<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo list Login</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <style>
    <style>form {
      padding: 30px 15px;
    }

    img {
      height: 150px;
      width: 100%;
      margin-bottom: 10px;
    }
  </style>

  </style>
</head>


<body>
  <div class="container">
    <form action="/login" method="post">
      <legend>Login</legend>
      <% if(typeof errors != 'undefined'){ %> <% errors.forEach(function(error) { %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= error %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% }); %> <% } %>
      <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="User ID" name="id" required>
        <BR>

        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password"
          required>
      </div>
      <button type="submit" class="btn btn-info">Login</button>
    </form>
    <a class='btn btn-primary' href="/google">Sign in with google</a>
    <a style='text-align: center;display: block;' href="/register">Dont have an account? Sign Up</a>

  </div>
</body>

</html>